{% extends "base.html" %}

{% block content %}
<h1>index</h1>

{% if  request.user.is_authenticated %}
  <form action="{% url 'accounts:logout' %}" method='POST'>
  {% csrf_token %}
  <input type="submit" value='logout'>
  <p><a href="{% url 'balances:create' %}">create</a></p>
  </form>
  <a href={% url 'accounts:update' %}> update </a>
{% else %}
  <a href={% url 'accounts:signup' %}> signup </a>
  <a href={% url 'accounts:login' %}> login </a>
{% endif %}

{% for balance in balances %}
<p>작성자: 
  <a href="{% url 'accounts:profile' balance.user %}">{{ balance.user }}</a>
</p>
<p>제목: <a href="{% url 'balances:detail' balance.pk %}">{{ balance.title }}</a></p>
<p>내용1: {{ balance.select1_content }}</p>
<p>내용2: {{ balance.select2_content }}</p>

<form action="{% url 'balances:likes' balance.pk %}" method="POST">
  {% csrf_token %}
  {% if request.user in balance.like_users.all %}
    <input type="submit" value="좋아요 취소">
  {% else %}
  <input type="submit" value="좋아요">
  {% endif %}
</form>
<p>좋아요 개수 - {{ balance.like_users.all|length }}</p>
<p>조회수: {{balance.view_count}} </p>
<p>{{ balance.time_since_created }}전</p>

<hr>
{% endfor %}





{% endblock content %}