{% extends "base.html" %}

{% block style %}
<style>
  .font-c {
    color: black;
  }

  .solid {
    border-bottom: 2px solid #FFEF9A ;
  }

  .heart-button {
    background-color: white;
    border: none;
  }

  .like_on {
    color: #ff6b6b;
  }

  .heart-b:hover {
    color: #ff6b6b;
  }

  .time {
    font-size: 15px;
    right: 2%;
    top: 41%;
    
  }

  .card-image {
    width: 50%;
    height: auto;
  }

  .card-back {
    background-color: #868E96;
    height: 143px;
  }

  .card-text{
    color: #DEE2D9;
    font-size: 30px;
  }

  .text-a-b {
    font-weight: bold;
    font-size: 22px;
  }


  .container {
    min-width: 700px;
  }  

  
</style>

{% endblock style %}


{% block content %}

<div class='d-flex flex-row align-items-center justify-content-between mt-3 mb-3'>
  <div class='ms-3'>
    <i class="fa-solid fa-chevron-right"></i> <span style='font-size:18px;'>New 게임</span>
  </div>

  <div class="btn bg-warning me-3">
    <a href="{% url 'balances:create' %}" class="font-c" style='text-decoration:none; font-weight:bold;'>밸런스 게임 생성</a>
  </div>
</div>

<div class='solid ms-2 me-2 mb-3'></div>

<div class='container '>
  <div class='row justify-content-center'>
    {% comment %} 카드 이미지 {% endcomment %}
    {% for balance in balances %}
      <div class="card p-0 m-3 col-3" style="width: 18rem;">
        {% comment %} 만약 이미지 2개가 모두 삽입 돼있다면 {% endcomment %}
        {% if balance.image_1 %}
          {% if balance.image_2 %}
          <div class='d-flex flex-row'>
            <img src="{{balance.image_1.url}} " class="card-img-top card-image" alt="img_1">
            <img src="{{balance.image_2.url}} " class="card-img-top card-image" alt="img_2">

            {% comment %} 시간 & 조회수 {% endcomment %}
            <div class='d-flex d-flex flex-row align-items-center time position-absolute z-3' style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
              <span class='me-1'><i class="fa-regular fa-eye"></i> {{balance.view_count}}</span>
              <span >|</span>
              <span class='ms-1'><i class="fa-regular fa-clock"></i> {{ balance.time_since_created }} 전</span>
            </div>
          </div>
          
          {% else %}
          {% comment %} 만약 a 이미지는 있는데 b 이미지가 없다면 {% endcomment %}
          <div class='card-back'>
            <div class='d-flex flex-row justify-content-center'>
              <img src="{{balance.image_1.url}} " class="card-img-top card-image" alt="img_1">
            </div>

            <div class='d-flex d-flex flex-row align-items-center time position-absolute z-3' style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
              <span class='me-1'><i class="fa-regular fa-eye"></i> {{balance.view_count}}</span>
              <span >|</span>
              <span class='ms-1'><i class="fa-regular fa-clock"></i> {{ balance.time_since_created }} 전</span>
            </div>
          </div>
        {% endif %}

        {% else %}
          {% if balance.image_2 %}
          {% comment %} 만약 a 이미지가 없고 b 이미지가 있다면 {% endcomment %}
          <div class='card-back'>
            <div class='d-flex flex-row justify-content-center'>
              <img src="{{balance.image_2.url}} " class="card-img-top card-image" alt="img_2">
            </div>

            <div class='d-flex d-flex flex-row align-items-center time position-absolute z-3' style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
              <span class='me-1'><i class="fa-regular fa-eye"></i> {{balance.view_count}}</span>
              <span >|</span>
              <span class='ms-1'><i class="fa-regular fa-clock"></i> {{ balance.time_since_created }} 전</span>
            </div>
          </div>

          {% comment %} 만약 삽입된 이미지가 없다면 {% endcomment %}
          {% else %}
          <div class="card-back d-flex justify-content-center">
            <div class="card-text align-self-center">{{ balance.select1_content }} vs {{ balance.select2_content }}
            </div>
            <div class='d-flex d-flex flex-row align-items-center time position-absolute z-3' style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
              <span class='me-1'><i class="fa-regular fa-eye"></i> {{balance.view_count}}</span>
              <span >|</span>
              <span class='ms-1'><i class="fa-regular fa-clock"></i> {{ balance.time_since_created }} 전</span>
            </div>
          </div>
          {% endif %}
        {% endif %}

        
        {% comment %} 카드 바디 A vs B {% endcomment %}
        <div class="card-body">
          <div class='d-flex flex-row'>
            <p class='text-a-b'>
              <a href="{% url 'balances:detail' balance.pk %}" style='text-decoration:none;'>{{ balance.select1_content }} vs {{ balance.select2_content }} <span style='font-size: 15px;'>[{{ balance.comment_set.count }}]</span></a>
            </p>
          </div>

          {% comment %} 제목 {% endcomment %}
          <div class='d-flex flex-row align-items-center'>
            <p style='font-size:15px;' class='me-2'>{{ balance.title }}</p>
          </div>

          {% comment %} <p style='font-size:15px;'>작성자 : 
            <a href="{% url 'accounts:profile' balance.user %}" style='text-decoration:none; color:black; font-weight: bold;'>{{ balance.user }}</a>
          </p> {% endcomment %}
          

          <form action="{% url 'balances:likes' balance.pk %}" method="POST">
            {% csrf_token %}
            <div class='d-flex flex-row justify-content-between'>
              {% if request.user in balance.like_users.all %}
              {% comment %} 하트 누른 후 {% endcomment %}
              <div class='d-flex flex-row align-items-center'>
                <button type="submit" class="fa-solid fa-heart heart-button" style="color: #fa6b6b;"></button>
                <span class='like_on'>{{ balance.like_users.all|length }}</span>
              </div>

              {% else %}
              {% comment %} 하트 누르기 전 {% endcomment %}
              <div class='d-flex flex-row align-items-center'>
                <button type="submit" class="fa-regular fa-heart heart-button heart-b" ></button>
                <span>{{ balance.like_users.all|length }}</span>
              </div>
              {% endif %}
              

              {% comment %} 글 올린 사람 닉네임 & 프사 {% endcomment %}
              {% comment %} 만약 프사가 있다면 {% endcomment %}
              {% if balance.user.image %}
              <div class='d-flex flex-row align-items-center'>
                <div class='ms-2'>
                  <img style='width: 24px; height: 24px; border-radius: 50% 50%;' class='me-1' src="{{ balance.user.image.url }}" alt="profile">
                </div>
                <div>
                  <a href="{% url 'accounts:profile' balance.user %}" style='text-decoration:none; color:#949494; font-weight: bold; font-size:14px;'> {{ balance.user }}
                  </a>
                </div>
              </div>

              {% comment %} 만약 프사가 없다면 {% endcomment %}
              {% else %}
              <div class='ms-2'>
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="black" class="bi bi-person-circle me-0" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg> 
                <a href="{% url 'accounts:profile' balance.user %}" style='text-decoration:none; color:#949494; font-weight: bold; font-size:14px;'> {{ balance.user }}</a>
              </div>
              {% endif %}

      
            </div>
          </form>
        </div>
      </div>
    {% endfor %}
  </div>
</div>






{% endblock content %}